<div class="row">
    <div class="col-md-3 mb-3" *ngFor="let product of products">
        <div class="card">
            <div class="card-img-top" [ngStyle]="{'background-image': 'url(' + product.thumbnail + ')', 'height': '150px', 'background-size': 'cover'}"></div>
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description}}</p>
              <a [routerLink]="[product.id]" class="btn btn-primary me-2">view</a>
              <a [routerLink]="['/edit/'+product.id]" class="btn btn-primary">Edit</a>
            </div>
          </div>
    </div>
  </div>